.board {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 290px;
  word-wrap: break-word;
  /* background-color: var(--board-color); */
  background-color: #ecebeb;
  background-clip: border-box;
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
  border-radius: 10px;
  height: 100%;
  max-height: 82vh;
  color: var(--text-color);
  /* box-shadow: 0px 3px var(--card-box-shadow) */
}

.board__footer {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.board__cards {
  padding: 0.5rem 0.5rem;
  overflow-y: auto;
}

.board__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.5rem;
  margin-bottom: 0;
}

.board__dropdown {
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.12);
  cursor: default;
}

.board__dropdown>p {
  border-bottom: 1px solid var(--drop-down-color);
  cursor: pointer;
}

.board__top>div>p:hover {
  cursor: pointer;
}

.emoji {
  margin-inline-end: 0.5rem;
}

.board__top>div>p {
  font-weight: bolder;
}

.total__cards {
  font-size: 12px;
  border-radius: 15px 15px 15px 15px;
  padding-inline: 0.6rem;
  /* border: 0.5px solid var(--card-box-shadow); */
  /* background-color: var(--card-color); */
  margin-inline: 10px;
}

.title__input {
  font-weight: 400;
  /* padding-inline: 0.5rem; */
  height: 30px;
  border-radius: 5px;
}

.board__top>div {
  cursor: pointer;
}

.initials {
  font-size: 12px;
  color: var(--tag-color);
  font-weight: 600;
  padding: 6px 7px;
  border-radius: 50%;
  background-color: var(--card-color);
  position: relative;
  margin-right: 12px;
}

.initials>div {
  content: "";
  position: absolute;
  bottom: -5%;
  right: -5%;
  width: 8px;
  height: 8px;
  margin-top: auto;
  border: 2px solid var(--board-color);
  border-radius: 50%;
}

.available_true {
  background-color: #15d200;
}

.available_false {
  background-color: #d7e1fe;
}

.add_btns{
  border: none;
  height: 4vh;
  width: 4vh;
  background-color: #ecebeb;
  border-radius: 5px;
  color : black;
  font-weight: bold;
}
.add_btns:hover{
  background-color: #9c9c9c;
  border-radius: 5px;
  box-shadow: 2px 2px 1px rgb(207, 207, 207); 
}
/* .board__top > input {
} */