/* *************** Priority Tags *************** */
.urgent {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  margin-top: auto;
  background-color: #FF0000;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0px 2px #FF0000;
}

.high {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  margin-top: auto;
  background-color: #ff7b00;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0px 2px #ff7b00;
}

.medium {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  margin-top: auto;
  background-color: #FFFF00;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0px 2px #FFFF00;
}

.low {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  margin-top: auto;
  background-color: #15d200;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0px 2px #15d200;
}

.none {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  margin-top: auto;
  background-color: #808080;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0px 2px #808080;
}

/* *************************************** */


.custom__card {
  background-color: var(--card-color);
  border-radius: 5px 10px 10px 5px;
  box-shadow: 0px 2px var(--card-box-shadow);
  margin-inline: auto;
  padding-inline: 0.8rem 0.5rem;
  padding-top: 0.4rem;
  padding-bottom: 1rem;
  color: var(--text-color);
  margin-bottom: 12px;
  position: relative;
}

.card__tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap;
  align-self: flex-start;
}

.card__tags>span {
  font-size: 12px;
  color: var(--tag-color);
  font-weight: 600;
  padding: 6px 7px;
  border-radius: 50%;
  background-color: var(--board-color);
  position: relative;
}

.card__tags>span>div {
  content: "";
  position: absolute;
  bottom: -5%;
  right: -5%;
  width: 8px;
  height: 8px;
  margin-top: auto;
  border: 2px solid var(--card-color);
  border-radius: 50%;
}

.available_true {
  background-color: #15d200;
}

.available_false {
  background-color: var(--tag-color);
}

.card__id {
  font-size: 12px;
  font-weight: 700;
  opacity: 0.5;
}

.card__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.card__text p {
  margin-top: 2px;
}

.card__more {
  opacity: 0.5;
  border: 1px solid #f8f8f8;
  border-radius: 2px;
  cursor: pointer;
}

.card__more:hover {
  opacity: 1;
  cursor: pointer;
  transition: ease-in 100ms;
}

.card__dropdown {
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.12);
  cursor: default;
}

.card__dropdown>p {
  border-bottom: 1px solid #f8f8f8;
  cursor: pointer;
}

.card__footer {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.card__footer>div>svg {
  height: 15px;
  width: 15px;
  color: rgb(116, 116, 116);
  cursor: pointer;
}

.card__footer div {
  display: flex;
  align-items: center;
}

.card__footer span {
  font-size: 12px;
  color: rgb(116, 116, 116);
  margin-inline: 2px;
  font-weight: 500;
}