.logo {
  height: 50%;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

img {
  height: 100%;
  object-fit: contain;
}

.navbar {
  position: relative;
  padding-inline: 2rem;
  /* border-bottom: 1px solid #ccc; */
  max-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  box-shadow: 0px 1px 20px 0px #171f4695;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.dark {
  background-color: #292c35;
}

.label {
  cursor: pointer;
  width: 36px;
  height: 11px !important;
  background-color: #111;
  display: flex;
  border-radius: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 16px;
  height: 16px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked+.label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}


/* Media Queries */
@media screen and (max-width: 768px) {
  .navbar {
    padding-inline: 0.5rem;
  }
  .logo>h2 {
    display: none;
  }
  .label {
    transform: scale(1.2);
  }
}